@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: url("./landscape.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container  */
.container {
  width: min(80%, 600px);
  margin-inline: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
}

@media (width > 768px) {
    .container {
        padding: 3rem 3rem;
    }
}

/* Form */
.form {
    position: relative;
    margin-bottom: 2rem;
}
.form input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: hsla(0, 0%, 35%, 1);
  color: hsla(0, 0%, 100%, 0.3);
  font-family: inherit;
  font-size: inherit;
  padding: 15px 10px;
  position: relative;
}

.form::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-image: url('./transparency.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #fff;
    z-index: 1;
    cursor: pointer;
}


/* Results Box */
.results-box {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.results-box__title {
    font-size: 1.3rem;
}

.results-box__data {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.results-box__data--temp {
    font-size: 1.3rem;
    font-family: inherit;
}

.results-box__data--condition {
    display: flex;
    align-items: center;
    gap: 10px;
}

.results-box__data--condition img {
    width: 30px;
    display: inline-block;
}